body {
	text-align: center;
}
header {
	font-family: Verdana;
	font-weight: bold;
	display: flex;
	height: 80px;
	font-size: 14px;
	align-items: center;
	border-bottom: 1px solid black;
	width: 100%;
	/*position: fixed;*/
	/*z-index: 1;*/
}
.logo {
	padding-left: 30px;
	flex-grow: 1;
	display: inline-flex;
	align-items: center;
	border: 1px solid black;

}

.logo h3 {
	margin: 0;
	color: mediumaquamarine;
}
.logo img {
	height: 60px;
	width: 70px;
	margin-right: 12px;
}
nav ul li {
	display: inline-block;
}
nav {
	padding-right: 40px;
}
nav span {
	padding: 20px 10px;
}
nav a {
	color: black;
}
div {
	border: 1px solid black;
}
.container {
	display: flex;
	/*justify-content: space-between;*/
	width: 1232px;
	margin: 0 auto 78px auto;
}
.column.large-section {
	width: 630px;
	display: flex;
	flex-direction: column;
}
.column.medium-section {
	width: 300px;
	display: flex;
	flex-direction: column;
}
.column.small-section {
	width: 240px;
	display: flex;
	flex-direction: column;
}
.column.large-section, 
.column.medium-section,
.column.small-section {
	margin-right: 32px;
}
